@media only screen and (min-width: 100px){
    .collection{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 375px){
    .collection{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 600px){
    .collection{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 800px){
    .collection{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1000px){
    .collection{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1200px){
    .collection{
        grid-template-columns: repeat(5, 1fr);
    }
}