.tri{
    font-size: 1.2rem;

    select {
    background-color: $--buttonColor;
    text-transform: capitalize;
    color: $--fontColor;
    text-align: left;
    padding: 0.1rem 1.5rem;
    } 
    
}